@import '@/styles/variables';

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0 32px;
    min-width: 180px;
    overflow: hidden;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: $text-secondary;

    &:before,
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 32px;
    }

    &:before {
        background: rgba(40,40,40,.7);
        box-shadow: inset 2px 4px 16px 0px rgba(248, 248, 248, 0.06);
        backdrop-filter: blur(50px);
    }

    &:after {
        z-index: 2;
        border: 1px solid rgba(248, 248, 248, 0.25);
        mask-image: linear-gradient(170deg, black, transparent 50%);
        pointer-events: none;
        opacity: .25;
    }

    &:hover {
        .circle {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.title {
    position: relative;
    z-index: 4;
}

.circle {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 3;
    width: 200px;
    height: 200px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
    }

    &:before {
        background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.01) 180deg, rgba(255, 255, 255, 0.05) 360deg);
        filter: blur(15px);
        animation: button-circle 3.6s linear infinite;
        transition: opacity .5s;
    }

    &:after {
        transform: scale(0.5);
        inset: 30px;
        background: rgba(248,248,248,.12);
        mask-image: radial-gradient(50% 50% at 50% 50%, black, rgba(0, 0, 0, 0));
        filter: blur(5px);
        opacity: 0;
        transition: all 1s;
    }
}

@keyframes button-circle {
    0% {
        transform: translateX(0) rotate(0);
    }
    25% {
        transform: translateX(-30px) rotate(90deg);
    }
    50% {
        transform: translateX(0) rotate(180deg);
    }
    75% {
        transform: translateX(30px) rotate(270deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
} 